
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

body{
    font-family: 'Supermercado One', cursive;
    overflow: hidden;
    background: conic-gradient(from -.5turn at bottom right, deeppink, cyan, rebeccapurple);
}
.container{
    /*border: 1px solid black;*/
    
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.digitalClock{
    border: 1px solid black;
    
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    color: white;             /*Font Color*/
    background: rgba(0, 0, 0, .1);

    
}

.digitalClock h1{
    display: inline-block;      /*horizontal row*/
    margin: 0 10px;             /*seperate date and time nicely*/
    font-size: 2.5rem;
}


/*For smaller devices*/
@media(max-width:480px){        /*Removing bars*/
    #bar1, #bar2{
        display: none;

    }
    .digitalClock{
        text-align: center;
        width: 100%;
    }

    .digitalClock h1{         /*Reformats clock vertically*/
        font-size: 2rem;
        display: block;
    }

}